h1 { font-family: 'Merriweather', serif; font-weight: 900; margin-bottom:0.0em;}
h2 { font-family: 'Merriweather', serif; font-weight: 400; margin-bottom:0.1em;}
h3 { font-family: 'Open Sans', sans-serif;}
body { font-family: 'Open Sans', sans-serif; }