h1 { font-family: 'Merriweather', serif; font-weight: 900; }
h2 { font-family: 'Merriweather', serif; font-weight: 400; }
h3 { font-family: 'Open Sans', sans-serif;}
body { font-family: 'Open Sans', sans-serif; }