h1 { 
	font-size: 36px;
	font-family: 'Raleway', sans-serif;
	letter-spacing:-1px;
	font-weight: 900; 
	margin-bottom:-0.2em; 
	color: #000000;
	/*text-shadow: 0px 0 black, 0 1px black, 1px 0 black, 0 0px black;*/
}
h2 { 
	font-family: 'Raleway', bold, serif; 
	font-weight: 700;
	margin-top: 0.4em; 
	margin-bottom:0.1em; 
	color: #000000;
}

.header { 
  font-family: 'Open Sans', sans-serif;
  display: block;
  margin: 0 auto;
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	margin-top: 0.5em; 
	margin-bottom:0.5em;
	margin-left: 25%;
}
body { 
	font-family: 'Open Sans', sans-serif; 
	background-color: #ffffff;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

#body {
	position: center;
}

#body-dropdowns { 
	display: inline-block;
	width: 50%; 
	height: 100%; 
	position: left; 
	margin: 0 0 0 0; 
	vertical-align: top; 
	padding: 0px; 
}
#body-textentry {
	display: inline-block;
	width: 50%; 
	height: 100%; 
	position: left; 
	margin: 0 0 0 0; 
	vertical-align: top; 
	padding: 0px; 
}
.table {

}
.row {
	float: left;
	width: 100%;
}
.name {
	float: left;
	width: 50%;
	height: 100%;
}
.dropdown {
	float: right; 
	width: 50%;
	height: 100%
}

.dropdown > select {
	width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;	
}

.textentry {
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.answer > div {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.buttonthing {
	text-align: center;
}

.buttonthing > button {
  font-size: 20px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(55, 110, 229);
  color: whitesmoke;
}


