h1 { 
	font-size: 36px;
	font-family: 'Raleway', monospace;
	letter-spacing:-1px;
	font-weight: 900; 
	margin-bottom:-0.2em; 
	color: #000000;
	text-shadow: 0px 0 black, 0 1px black, 1px 0 black, 0 0px black;
}
h2 { 
	font-family: 'Raleway', bold, serif; 
	font-weight: 700;
	margin-top: 0.4em; 
	margin-bottom:0.1em; 
	color: #000000;
}
h3 { 
	font-family: 'Open Sans', sans-serif;
	margin-top: 0.4em; 
	margin-bottom:0.1em;
}
body { 
	font-family: 'Open Sans', sans-serif; 
	background-color: #ffffff;
}
fieldset {
	border-color: white;
	box-shadow: none;

}